// ============ start variable============

// font-family: 'Cairo', sans-serif;
// font-family: 'Quicksand', sans-serif;

$global-font-family: "Quicksand", sans-serif;
$mainColor: #000;
$defaultColor: #fff;
$mainBackGroundColor: #ff4300;
$DefaultBackGroundColor: #007460;

// ============ end variable =============
